.container
  .panel.panel-default
    .panel-heading
      h1 Mailbox
    .panel-body
      ul#messageTabs.nav.nav-tabs
        li#inboxTab.active
          a(href='#inbox') Inbox
        li
          a#sentTab(href='#sent') Sent
        li
          a(href='#newMessage') New Message
      .tab-content
        #inbox.tab-pane.fade.in.active
          table#inboxMessages.table.table-hover
            tr
              th From
              th Subject
              th Message
              th Date/Time
            each message in inboxMessages
              tr
                td #{message.fromuseremail}
                td #{message.subject}
                td #{message.message}
                td #{message.datetime}
        #sent.tab-pane.fade
          table#sentMessages.table.table-hover
            tr
              th From
              th Subject
              th Message
              th Date/Time
            each message in sentMessages
              tr
                td #{message.touseremail}
                td #{message.subject}
                td #{message.message}
                td #{message.datetime}
        #newMessage.tab-pane.fade
          form.newMessageForm
            .form-group
              label To:
              input#to_user_email.form-control(
                type='text', 
                placeholder='Email'
              )
            .form-group
              label Subject:
              input#subject_text.form-control(
                type='text', 
                placeholder='Subject'
              )
            .form-group
              label Message:
              textarea#message_text.form-control(
                rows='3', 
                placeholder='Enter Message Here'
              )
            .form-group
              button#sendBtn.btn.btn-lg.btn-default(
                value='Submit'
              ) Send
