.container
  .row
    .col-md-8
      h1(align='center') #{name}
      #carousel-ytvids.carousel.slide(
        data-ride='carousel', 
        data-interval='false'
      )
        ol.carousel-indicators
          - var count = 0
          for video in youtube
            if count == 0
              li.active(
                data-target='#carousel-ytvids', 
                data-slide-to=count
              )
            else
              li(
                data-target='#carousel-ytvids', 
                data-slide-to=count
              )  
            - count = count + 1
        .carousel-inner
          - count = 0
          for video in youtube
            if count == 0
              .item.active(align='center')
                if yt_type == "video"
                  iframe(
                    width='560', 
                    height='315', 
                    src='//www.youtube.com/embed/#{video}', 
                    frameborder='0', 
                    allowfullscreen='allowfullscreen'
                  )
                if yt_type == "playlist"
                  iframe(
                    width='560', 
                    height='315', 
                    src='//www.youtube.com/embed/videoseries?list=#{video}', 
                    frameborder='0', 
                    allowfullscreen='allowfullscreen'
                  )
            else
              .item(align='center')
                if yt_type == "video"
                  iframe(
                    width='560', 
                    height='315', 
                    src='//www.youtube.com/embed/#{video}', 
                    frameborder='0', 
                    allowfullscreen='allowfullscreen'
                  )
                else if yt_type == "playlist"
                  iframe(
                    width='560', 
                    height='315', 
                    src='//www.youtube.com/embed/videoseries?list=#{video}', 
                    frameborder='0', 
                    allowfullscreen='allowfullscreen'
                  )
            - count = count + 1
        a.carousel-control.left(href='#carousel-ytvids', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        a.carousel-control.right(href='#carousel-ytvids', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
    .col-md-4
      div(align='center')
        h2 Jobs
      // hardcoded height!! fix 
      div(style='overflow: scroll; height: 320px;')
        for job in jobs
          if !job.owner
            .place-bid
              b
                a(target='_blank', href="project/#{job.projectid}") #{job.projectname}
              br
              div(class='projectstatus#{job.projectid}')
                if job.alreadyBidOn
                  div.alert.alert-success Already placed
                else
                  button.btn.btn-default.btn-small(
                    id = 'bid_submit#{job.projectid}',
                    type='button', 
                    jobid='#{job.projectid}'
                  ) Bid on this project
  .row
    .col-md-12
      div(align='center')
        h2 Courses
      #carousel-courses.carousel.slide(
        data-ride='carousel', 
        data-interval='false'
      )
        ol.carousel-indicators
          - count = 0
          for course in courses
            if course != ""
              if course.Title
                if course.scoreRanking > 0
                  if count == 0
                    li.active(
                      data-target='#carousel-courses', 
                      data-slide-to='#{count}'
                    )
                  else
                    li(
                      data-target='#carousel-courses', 
                      data-slide-to='#{count}'
                    )
                  - count = count + 1
        - count = 0
        .carousel-inner
          for course in courses
            if course != ""
              if course.Title
                if course.scoreRanking > 0
                  if count == 0
                    .item.active(align='center')
                      .courseinfo
                        a(target='_blank', href=course.CourseURL) #{course.Title}
                        br
                        | #{course.Institution} (#{course.TeachingDate})
                        br
                        | Instructors: #{course.Instructors}
                        br
                        | Description: #{course.Description}
                        br
                        a(target='_blank', href=course.DownloadPageLink) Course Materials
                        br
                      br
                      div(class="coursescore", id="#{count}")
                        - voteStr = category + "+" + course.Title
                        if course.scoreRanking == 1
                          if voteStr in votedCourses
                            if votedCourses[voteStr] == "Y"
                              | <span id="rank#{count}" class="text-success">
                            else
                              | <span id="rank#{count}" class="text-danger">
                          else
                            | <span id="rank#{count}">
                          | #{course.scoreRanking}</span> person found this course helpful.
                        else 
                          if voteStr in votedCourses
                            if votedCourses[voteStr] == "Y"
                              | <span id="rank#{count}" class="text-success">
                            else
                              | <span id="rank#{count}" class="text-danger">
                          else
                            | <span id="rank#{count}">
                          | #{course.scoreRanking}</span> people found this course helpful.
                      br
                      button#helpful.btn.btn-default.btn-lg.glyphicon.glyphicon-thumbs-up(
                        courseTitle='#{course.Title}',
                        moduleID='#{category}',
                        count="#{count}"
                      )
                      | &nbsp; &nbsp; &nbsp;
                      button#nothelpful.btn.btn-default.btn-lg.glyphicon.glyphicon-thumbs-down(
                        courseTitle='#{course.Title}',
                        moduleID='#{category}',
                        count="#{count}"
                      )
                  else
                    .item(align='center')
                      .courseinfo
                        a(target='_blank', href=course.CourseURL) #{course.Title}
                        br
                        | #{course.Institution} (#{course.TeachingDate})
                        br
                        | Instructors: #{course.Instructors}
                        br
                        | Description: #{course.Description}
                        br
                        a(target='_blank', href=course.DownloadPageLink) Course Materials
                        br
                      br 
                      div(class="coursescore", id="#{count}")
                        - voteStr = category + "+" + course.Title
                        if course.scoreRanking == 1
                          if voteStr in votedCourses
                            if votedCourses[voteStr] == "Y"
                              | <span id="rank#{count}" class="text-success">
                            else
                              | <span id="rank#{count}" class="text-danger">
                          else
                            | <span id="rank#{count}">
                          | #{course.scoreRanking}</span> person found this course helpful.
                        else 
                          if voteStr in votedCourses
                            if votedCourses[voteStr] == "Y"
                              | <span id="rank#{count}" class="text-success">
                            else
                              | <span id="rank#{count}" class="text-danger">
                          else
                            | <span id="rank#{count}">
                          | #{course.scoreRanking}</span> people found this course helpful.
                      br
                      button#helpful.btn.btn-default.btn-lg.glyphicon.glyphicon-thumbs-up(
                        courseTitle='#{course.Title}',
                        moduleID='#{category}',
                        count="#{count}"                      )
                      | &nbsp; &nbsp; &nbsp;
                      button#nothelpful.btn.btn-default.btn-lg.glyphicon.glyphicon-thumbs-down(
                        courseTitle='#{course.Title}',
                        moduleID='#{category}',
                        count="#{count}"
                      )
                  - count = count + 1 
        a#coursesleft.carousel-control.left(href='#carousel-courses', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        a#coursesright.carousel-control.right(href='#carousel-courses', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
  .row
    .col-md-12
      div(align='center', id="suggestionText")
        | None of these courses helpful? 
        button.btn.btn-small(data-toggle="modal", data-target="#suggestCourseDiv") Suggest a course!
        div(class="modal bs-example-modal-sm", id="suggestCourseDiv", tabindex="-1", aria-labelledby="suggestLabel", aria-hidden="true")
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                h3#suggestLabel
                  | Suggest A Course
              .modal-body
                form#suggestCourseForm
                  .form-group
                    input#suggestURL.form-control(type="text", name="suggestURL", placeholder="Course URL")
                  .form-group
                    input#suggestTitle.form-control(type="text", name="suggestTitle", placeholder="Title")
                  .form-group
                    input#suggestInstitution.form-control(type="text", name="suggestInstitution", placeholder="Institution")
                  .form-group
                    input#suggestTeachDate.form-control(type="text", name="suggestTeachDate", placeholder="Teaching Date")
                  .form-group
                    input#suggestInstructors.form-control(type="text", name="suggestInstructors", placeholder="Instructors")
                  .form-group
                    textarea#suggestDesc.form-control(rows="3", name="suggestDesc", placeholder="Description")
                  .form-group
                    input#suggestMaterials.form-control(type="text", name="suggestMaterials", placeholder="Course Materials Link")      
                  .form-group
                    button#submitSuggestion.btn.btn-default.btn-lg(type="button", value="Submit", moduleID='#{category}', data-dismiss="modal") Submit
                    
