.container
  .row
    .col-md-8
      h1(align='center') #{name}
      #carousel-ytvids.carousel.slide(
        data-ride='carousel', 
        data-interval='false'
      )
        ol.carousel-indicators
          - var count = 0
          for video in youtube
            if count == 0
              li.active(
                data-target='#carousel-ytvids', 
                data-slide-to=count
              )
            else
              li(
                data-target='#carousel-ytvids', 
                data-slide-to=count
              )  
            - count = count + 1
        .carousel-inner
          - count = 0
          for video in youtube
            if count == 0
              .item.active(align='center')
                if yt_type == "video"
                  iframe(
                    width='560', 
                    height='315', 
                    src='//www.youtube.com/embed/#{video}', 
                    frameborder='0', 
                    allowfullscreen='allowfullscreen'
                  )
                if yt_type == "playlist"
                  iframe(
                    width='560', 
                    height='315', 
                    src='//www.youtube.com/embed/videoseries?list=#{video}', 
                    frameborder='0', 
                    allowfullscreen='allowfullscreen'
                  )
            else
              .item(align='center')
                if yt_type == "video"
                  iframe(
                    width='560', 
                    height='315', 
                    src='//www.youtube.com/embed/#{video}', 
                    frameborder='0', 
                    allowfullscreen='allowfullscreen'
                  )
                else if yt_type == "playlist"
                  iframe(
                    width='560', 
                    height='315', 
                    src='//www.youtube.com/embed/videoseries?list=#{video}', 
                    frameborder='0', 
                    allowfullscreen='allowfullscreen'
                  )
            - count = count + 1
        a.carousel-control.left(href='#carousel-ytvids', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        a.carousel-control.right(href='#carousel-ytvids', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
    .col-md-4
      div(align='center')
        h2 Jobs
      // hardcoded height!! fix 
      div(style='overflow: scroll; height: 320px;')
        for job in jobs
          .place-bid
            b
              a(target='_blank', href="project/#{job.projectid}") #{job.projectname}
            br
            button.btn.btn-default.btn-small(
              id = 'bid_submit#{job.projectid}',
              type='button', 
              jobid='#{job.projectid}'
            ) Bid on this project
  .row
    .col-md-12
      div(align='center')
        h2 Courses
      #carousel-courses.carousel.slide(
        data-ride='carousel', 
        data-interval='false'
      )
        ol.carousel-indicators
          - count = 0
          for course in courses
            if course != ""
              if course.Title
                if count == 0
                  li.active(
                    data-target='#carousel-courses', 
                    data-slide-to='#{count}'
                  )
                else
                  li(
                    data-target='#carousel-courses', 
                    data-slide-to='#{count}'
                  )
            - count = count + 1
        - count = 0
        .carousel-inner
          for course in courses
            if course != ""
              if course.Title
                if count == 0
                  .item.active(align='center')
                    .courseinfo
                      a(target='_blank', href=course.CourseURL) #{course.Title}
                      br
                      | #{course.Institution} (#{course.TeachingDate})
                      br
                      | Instructors: #{course.Instructors}
                      br
                      | Description: #{course.Description}
                      br
                      a(target='_blank', href=course.DownloadPageLink) Course Materials
                      br
                    br
                    .coursescore
                      | #{course.scoreRanking} people found this course helpful.
                    br
                    button#helpful.btn.btn-default.btn-lg.glyphicon.glyphicon-thumbs-up(
                      courseTitle='#{course.Title}',
                      moduleID='#{category}'
                    )
                    | &nbsp; &nbsp; &nbsp;
                    button#nothelpful.btn.btn-default.btn-lg.glyphicon.glyphicon-thumbs-down(
                      courseTitle='#{course.Title}',
                      moduleID='#{category}'
                    )
                else
                  .item(align='center')
                    .courseinfo
                      a(target='_blank', href=course.CourseURL) #{course.Title}
                      br
                      | #{course.Institution} (#{course.TeachingDate})
                      br
                      | Instructors: #{course.Instructors}
                      br
                      | Description: #{course.Description}
                      br
                      a(target='_blank', href=course.DownloadPageLink) Course Materials
                      br
                    br
                    .coursescore
                      | #{course.scoreRanking} people found this course helpful.
                    br
                    button#helpful.btn.btn-default.btn-lg.glyphicon.glyphicon-thumbs-up(
                      courseTitle='#{course.Title}',
                      moduleID='#{category}'
                    )
                    | &nbsp; &nbsp; &nbsp;
                    button#nothelpful.btn.btn-default.btn-lg.glyphicon.glyphicon-thumbs-down(
                      courseTitle='#{course.Title}',
                      moduleID='#{category}'
                    )
              - count = count + 1 
          a#coursesleft.carousel-control.left(href='#carousel-courses', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a#coursesright.carousel-control.right(href='#carousel-courses', data-slide='next')
            span.glyphicon.glyphicon-chevron-right
  .row
    .col-md-12
      div(align='center')
        | None of these courses helpful? 
        a(id="suggestcourse", data-toggle="popover", data-content="") Suggest a course!
          div(class="hide", id="popover-head")
            | Suggest A Course
          div(class="hide", id="popover-content")
            div(class="form")
              input(type="text", class="form-control", placeholder="Course URL")
            button#submitsuggestion.btn.btn-default.btn-lg Submit
