.container
  .panel.panel-default
    .panel-heading
      h1 My Posts
    .row
      .col-md-6
        br
        table.table.table-striped#posted_projects
          .text-center#projects_loader
            img(src = '/static/views/img/ajax-loader.gif')
      .col-md-6
        .post_project_div

          h2 Post New Project
          input#name.form-control(type='text', placeholder='Name')
          br
          input#type.form-control(
            type='text', 
            placeholder='Category'
          )
          input.typeahead(id="test", data-provide="typeahead")
          br
          textarea#description.form-control(placeholder = 'Description')
          br
          label Budget Option:
          select#budget_option.form-control
            option(value='1') $250-750
            option(value='2') $750-1500
            option(value='3') $1500-3000
            option(value='4') $3000-5000
            option(value='5') $30-250
            option(value='5') &gt$5000
          br
          label Duration (Max 60 days):
          select#duration.form-control
            - for (var i = 1; i <= 60; i++)
              option(value=i) #{i}
          br
          button#post_project.btn.btn-default.pull-right(
            type='button'
          ) Post Project
          br
          br
          br
          div#log_message_div
