tr    
  td
    a(href="project/#{projectid}") 
      b #{projectname}
    br
    ul.bulletless
      li Status: 
        b #{additionalstatus}
      if averagebid
        li Price: 
          b $#{price}
      li Bids: 
        a(href="project/#{projectid}")
          b #{bidcount}
      li End Date: 
        b #{enddate}
