.container
  .panel.panel-default
    .panel-heading
      h1 #{name}
    .panel-body
      .row
        .col-md-6
          table.table.table-striped
            tr
              td #{short_descr}
            tr
              td Number of bids: 
                b.pull-right #{bid_stats.count}
            if bid_stats.avg
              tr
                td Average bid: 
                  b.pull-right $#{bid_stats.avg}
            tr
              td Budget: 
                b.pull-right $#{budget.min} - $#{budget.max}
            tr
              td Created: 
                b.pull-right #{start_date}
            tr
              td End date: 
                b.pull-right #{end_date}
            tr
              td Requirements
                ul
                  each job in jobs
                    li #{job}
        .col-md-6
          table.table.table-striped#bids
            tr
              td 
                b Bids
            tr#bids_loader
              td
                img(src = '/static/views/img/ajax-loader.gif')