.container
  h1 Modules
  div
    | Create a new module:
    input.form-control(
      id = 'module_input'
      type='text', 
      placeholder='Javascript'
      maxlength="15"
  )
  button.btn.btn-default.btn-small.bid_submit(
    id = 'submit_new_module',
    type='button'
  ) Add module
  hr
  table
    each row in modules
      .row
        each module in row
          .col-md-3
            a(href=module.key) #{module.name}